.menu
  = link_to 'Компания', '#'
  &nbsp;|&nbsp;
  = link_to 'Бренды', '#'
  &nbsp;|&nbsp;
  = link_to 'Новости', '#'
  &nbsp;|&nbsp;
  = link_to 'Акции', '#'
  &nbsp;|&nbsp;
  = link_to 'Скидки', '#'
  &nbsp;|&nbsp;
  = link_to 'Оплата', '#'
  &nbsp;|&nbsp;
  = link_to 'Доставка', '#'
  &nbsp;|&nbsp;
  = link_to 'Гарантии', '#'
  &nbsp;|&nbsp;
  = link_to 'Контакты', '#'
  &nbsp;|&nbsp;
  = link_to 'Карта сайта', '#'
  &nbsp;|&nbsp;
  = link_to 'Статьи', '#'
  &nbsp;|&nbsp;
  = link_to 'Каталог', '#'


.img-social
  = image_tag("facebook.png", :border => "0", :height => "35", :width => "35")
  = image_tag("vk.png", :border => "0", :height => "35", :width => "35")
  = image_tag("twitter.png", :border => "0", :height => "35", :width => "35")
  = image_tag("gg.png", :border => "0", :height => "35", :width => "35")


.phone
  #ya-phone-3
    %span#call_phone_2{:style => "color: rgb(59, 58, 58); font-size: 20px; float: right; margin-top: 5px; "} +7 (495) 225-45-59
  %span{:style => "clear: right; display: block; color: rgb(59, 58, 58); font-size: 10px; float: right; margin-top: 5px; text-align: right; "} Ежедневно: 10:00-20:00
.address
  %span{:style => "font-size: 10px; "} Москва, Семеновский вал, 6г
.clear